@import 'defaults';

body {
  height: 110%;
  width: 100%;
  background-color: black;
  border: 1px black dotted;
  #background {
    position: fixed;
    z-index: -1;
    min-height: 100%;
    height: auto;
    width: 100%;
    img {
      position: fixed;
      z-index: -1;
      min-height: 100%;
      min-width: 100%;
      height: auto;
    }
  }
  #title {
    background-color: black;
    border: solid 10px white;
    padding-left: 15%;
    padding-bottom: 3%;
    padding-top: 3%;
    color: white;
    font-size: 4vh;
    width: 50%;
    margin-left: 20%;
    margin-top: 5%;
    @media all and (min-width: 320px) and (min-device-width: 320px) {
      margin-left: 7%;
      width: 80%;
      padding-left: 5%;
      font-size: 2vh;
    }
    @media all and (min-width: 500px) and (min-device-width: 500px) {
      font-size: 5vh;
    }
  }
  #intro {
    background-color: black;
    font-family: Arial;
    font-size: 3vh;
    color: white;
    width: 25%;
    margin-left: 10%;
    margin-top: 2%;
    padding: 2%;
    border: 5px white solid;
    @media all and (min-width: 320px) and (min-device-width: 320px) {
      width: 50%;
      @media all and (min-width: 500px) and (min-device-width: 500px) {
        width: 25%;
      }
    }
  }
  #voice {
    background-color: black;
    font-family: "Anonymous Pro";
    font-size: 3vh;
    color: white;
    height: 100%;
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
    padding: 2%;
    border: 5px white solid;
  }
  #reply1 {
    font-size: 2.5vh;
    height: 100%;
    width: 25%;
    margin-left: 40%;
    margin-top: 2%;
    @media all and (min-width: 320px) and (min-device-width: 320px) {
      margin-left: 27%;
      width: 52%;
      font-size: 3vh;
    }

    @media all and (min-width: 1000px) and (min-device-width: 1000px) {
    }
  }
  #reply2 {
    font-size: 2.5vh;
    height: 100%;
    width: 25%;
    margin-left: 40%;
    margin-top: 2%;
    @media all and (min-width: 320px) and (min-device-width: 320px) {
      margin-left: 27%;
      width: 52%;
      font-size: 3vh;
    }
  }
}
